.button {
    -fx-padding: 5 15 5 15;   
    -fx-border-color: #e2e2e2;
    -fx-border-width: 5;
    -fx-background-radius: 0;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 1em;
    -fx-text-fill: black;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
    -fx-cursor: hand;
    
}
.button:hover {
  -fx-background-color: black; 
  -fx-color: white;
  -fx-text-fill: white;
}

#titulo {
    -fx-font-size: 2em;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: black;
    -fx-font-weight: bolder;

}

#subtitulo {
    -fx-font-size: 1.2em;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: black;
    -fx-font-weight: bolder;
}

.label {
    -fx-font-size: 1em;
    -fx-text-fill: black;
}
.line {
    -fx-end-x:180; 
}